@import "_functions";
@import "_mixins";
@import "_variables";
@import "_grid";
@import "_utilities";

div[data-layout-content-preview-placeholder-label].block-y-branch-menu,
.block-y-branch-menu {
  // Fallback for browsers that don't yet support color-mix;
  background-color: var(--ylb-color-grey-3, gray);

  // The CSS "rgb" function here must be capitalized because... SASS.
  // https://github.com/sass/node-sass/issues/2251#issuecomment-645688417
  background-color: color-mix(in srgb, RGB(var(--wsPrimaryColorRGB)) 80%, black 20%);
}


.block-y-branch-menu {
  color: $white;

  > .mobile-menu,
  > .branch-menu {
    @extend .container-lg;
    @extend .px-0;
  }

  .mobile-menu {
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    padding: 16px 0;
    color: inherit;
    font-family: var(--ylb-font-family-medium);
    font-size: 16px;
    line-height: 26px;
    position: relative;

    &:after {
      font-weight: bold;
      content: '+';
      transform: rotate(45deg);
      position: absolute;
      color: #535254;
      width: 24px;
      text-align: center;
      border-radius: 50%;
      line-height: 24px;
      font-size: 22px;
      background-color: #E9E9E9;
      left: 93%;

      @include media-breakpoint-down('sm') {
        left: 90%;
      }
    }

    &.collapsed:after {
      transform: none;
    }


  }

  .branch-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;

    @media (min-width: 1060px) {
      flex-direction: row;
      gap: 30px;
      background-color: inherit;

      &.collapse {
        display: flex;
      }
    }

    .link-item {
      width: 100%;
      text-align: center;
      border-bottom: solid 1px rgba(35, 31, 32, 0.25);;

      @media (min-width: 1060px) {
        width: fit-content;
        border: none;
      }

      a {
        opacity: 0.8;
        padding: 18px 0;
        display: inline-block;
        font-size: 18px;
        color: var(--ylb-color-dark-grey-1, darkgray);
        line-height: 28px;

        @media (min-width: 1060px) {
          padding: 20px 0;
          font-size: 16px;
          line-height: 19px;
          color: inherit;
        }

        &:hover {
          opacity: 1;
          text-decoration: none;
        }

        &.is-active {
          padding-top: 18px;
          border-top: solid 2px $white;
          opacity: 1;
        }

        &.home:before {
          background: url("../svg/home.svg") no-repeat left;
          background-size: contain;
          content: '';
          height: 14px;
          width: 14px;
          display: inline-block;
          margin-right: 10px;
          filter: brightness(0.5);

          @media (min-width: 1060px) {
            filter: none;
          }
        }
      }
    }
  }
}
