{#
/**
 * @file
 * Branch Menu implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('y_branch_menu/y_branch_menu') }}
<div{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="mobile-menu d-lg-none collapsed" data-toggle="collapse"  data-target="#collapse-{{ configuration['id'] }}"> {{ 'More about this location'|t }}</div>
  <div id="collapse-{{ configuration['id'] }}" class="collapse branch-menu">
    {% if content['#links'] %}
      {% for link in content['#links'] %}
        <div class="link-item">{{ link }}</div>
      {% endfor %}
    {% endif %}
    {% if content['#in_preview'] %}
      {{ content['#in_preview'] }}
    {% endif %}
  </div>
</div>
